---
import BaseHead from "../../components/BaseHead.astro";
import Grid179 from "../../components/Grid179.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={`179`} description={`About 179`} />
  </head>
  <body>
    <Grid179 />
  </body>
</html>
