---
import BaseHead from "../../components/BaseHead.astro";
import GridTemplate from "../../components/GridTemplate.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={`179`} description={`About 179`} />
  </head>
  <body>
    <GridTemplate />
  </body>
</html>
