---
import "../styles/grid/index.css";

const scaleNum = 28;
const gridColumnArray = [...Array(scaleNum)].map((_, i) => i);
const gridColumnMobileArray = [...Array(scaleNum / 2)].map((_, i) => i);
---

<main class="-g">
  <header class:list={["-g_head"]}>
    <p class:list={["-g_sub", "col-span-4"]}>grid study</p>
  </header>

  <div class:list={["-g_u"]}>
    <div class:list={["bg-stone-700", "-c_full", "-h_10"]}></div>
  </div>
  <div class:list={["-g_u", "-_mt_1"]}>
    <div class:list={["-c_8-2", "-fs"]}>
      <p class:list={["-c_6-2"]}>グリッドを試す</p>
      <dl class:list={["-f", "-fs_xs"]}>
        <dt class:list={["-w_2"]}>Date</dt>
        <dd class:list={["-w_4"]}>2025.3.2</dd>
      </dl>
      <dl class:list={["-f", "-fs_xs"]}>
        <dt class:list={["-w_2"]}>Category</dt>
        <dd class:list={["-w_4"]}>Test</dd>
      </dl>
    </div>
    <div class:list={["-c_16-10", "-fcs_m"]}>
      <p>
        日本語の文字は独特の美しさを持っています。漢字の複雑な構造、ひらがなの流れるような曲線、カタカナの直線的な形状が混在することで、豊かな視覚表現が可能になります。
        文字のレイアウトも日本語の魅力の一つです。縦書きと横書きという二つの方向性を持ち、それぞれが異なる印象を与えます。縦書きは伝統的で格式高い雰囲気を醸し出し、小説や詩などの文学作品によく用いられます。一方、横書きは現代的で情報を効率的に伝える特性があり、ウェブサイトやビジネス文書に適しています。
        白紙の上に配置された黒い文字の対比も、日本のデザインの核心です。余白（「間」）の活用は、文字自体と同じくらい重要な表現要素となります。適切な余白があることで、文章は呼吸し、読者の目と心に余裕を与えるのです。
        現代のデジタル環境においても、この文字とレイアウトの伝統は進化を続けています。新しいフォントデザインや画面サイズに合わせた調整がなされながらも、日本語の持つ美しさと機能性は失われることなく、むしろ新たな可能性を見出しています。
      </p>
    </div>
  </div>
  <div class:list={["-g_u", "-_mt_1"]}>
    <div class:list={["-c_10-1", "-h_8", "bg-stone-500"]}></div>
    <div class:list={["-c_8-13", "-h_5", "-_mt_7", "bg-stone-400"]}></div>
    <div class:list={["-c_6-23", "-h_8", "-_mt_2", "bg-stone-600"]}></div>
  </div>
  <div class:list={["-g_u", "-_mt_2"]}>
    <div class:list={["-c_26-2", "-h_6", "-vt", "-c-vt_scr", "-fcs"]}>
      <div class:list={["-c-vt_inner"]}>
        <h3 class:list={["-fcs_l"]}>日本語フォントの<br />多様性と表現</h3>
        <p>
          日本語フォントは、その豊かな種類と表現力で独自の世界を形成しています。明朝体は優雅な線の強弱と鋭い切れ味のある「うろこ」や「はね」が特徴で、書籍や新聞など格式高い印刷物に用いられます。一方、ゴシック体はシンプルで均一な線の太さを持ち、視認性に優れているため、看板やデジタル画面での表示に適しています。
          筆文字系フォントは、筆の自然な動きを再現し、温かみや人間味を伝えます。ポップ体やデザイン書体は、親しみやすさや遊び心を表現し、広告やパッケージに彩りを添えます。
          日本語フォントの選択は単なる機能性だけでなく、メッセージに感情や個性を宿す重要な要素です。同じ言葉でも、フォントによって堅実さ、親しみやすさ、高級感、懐かしさなど、様々な印象を与えることができます。
          デジタル時代の到来により、フォントの可能性はさらに広がっています。可変フォントやウェブフォントの技術により、状況に応じて最適な表示が可能になり、日本語の豊かな表現力は新たな次元へと進化し続けています。
        </p>
      </div>
    </div>
  </div>
  <div class:list={["-g_u", "-_mt_2"]}>
    <div class:list={["-c_12-4", "-fcs"]}>
      <p>
        日本語の文字は独特の美しさを持っています。漢字の複雑な構造、ひらがなの流れるような曲線、カタカナの直線的な形状が混在することで、豊かな視覚表現が可能になります。
        文字のレイアウトも日本語の魅力の一つです。縦書きと横書きという二つの方向性を持ち、それぞれが異なる印象を与えます。縦書きは伝統的で格式高い雰囲気を醸し出し、小説や詩などの文学作品によく用いられます。一方、横書きは現代的で情報を効率的に伝える特性があり、ウェブサイトやビジネス文書に適しています。
      </p>
    </div>
    <div class:list={["-c_12-16", "-h_8", "bg-stone-500"]}></div>
  </div>
  <div class:list={["-g_u", "-_mt_2"]}>
    <div class:list={["-c_full", "-h_15", "bg-stone-500"]}></div>
  </div>

  <div class:list={["-g_u", "-_mt_1"]}>
    <div class:list={["-c_6-2", "-fcs"]}>
      <p>6グリッド</p>
      <p>
        テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
        Elements Of Typographic Style
        』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
      </p>
    </div>
    <div class:list={["-c_6-8", "-fcs_s"]}>
      <p>6グリッド / s</p>
      <p>
        テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
        Elements Of Typographic Style
        』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
      </p>
    </div>
    <div class:list={["-c_6-18", "-fcs_xs"]}>
      <p>6グリッド / xs</p>
      <p>
        テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
        Elements Of Typographic Style
        』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
      </p>
    </div>
    <div class:list={["-c_10-2", "-_mt_1", "-fcs"]}>
      <p>10グリッド</p>
      <p>
        テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
        Elements Of Typographic Style
        』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
      </p>
    </div>
    <div class:list={["-c_14-2", "-_mt_1", "-fcs"]}>
      <p>14グリッド</p>
      <p>
        テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
        Elements Of Typographic Style
        』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
      </p>
    </div>
    <div class:list={["-c_16-2", "-_mt_1", "-fcs"]}>
      <p>16グリッド</p>
      <p>
        テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
        Elements Of Typographic Style
        』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
      </p>
    </div>
    <div class:list={["-c_18-2", "-_mt_1", "-fcs"]}>
      <p>18グリッド</p>
      <p>
        テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
        Elements Of Typographic Style
        』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
      </p>
    </div>
    <div class:list={["-c_20-2", "-_mt_1", "-fcs"]}>
      <p>20グリッド</p>
      <p>
        テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
        Elements Of Typographic Style
        』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
      </p>
    </div>
  </div>

  <div class:list={["-g_u", "-_mt_2"]}>
    <div class:list={["-c_8-2", "-h_4", "bg-stone-500"]}></div>
    <div class:list={["-c_8-11", "-h_4", "bg-stone-500"]}></div>
    <div class:list={["-c_8-20", "-h_4", "bg-stone-500"]}></div>
  </div>

  <div class:list={["-g_u", "-_mt_1"]}>
    <div class:list={["-c_full", "-h_5", "-vt", "-c-vt_scr", "-fcs"]}>
      <div class:list={["-c-vt_inner"]}>
        <p>高さ5グリッド</p>
        <p>
          テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
          Elements Of Typographic Style
          』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
        </p>
      </div>
    </div>
  </div>

  <div class:list={["-g_u", "-_mt_1"]}>
    <div class:list={["-c_full", "-h_6", "-vt", "-c-vt_scr", "-fcs"]}>
      <div class:list={["-c-vt_inner"]}>
        <p>高さ6グリッド</p>
        <p>
          テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
          Elements Of Typographic Style
          』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
        </p>
      </div>
    </div>
  </div>

  <div class:list={["-g_u", "-_mt_1"]}>
    <div class:list={["-c_full", "-h_7", "-vt", "-c-vt_scr", "-fcs"]}>
      <div class:list={["-c-vt_inner"]}>
        <p>高さ7グリッド</p>
        <p>
          テキストの行の長さ（文字数）のことをカラム幅と呼びます。適切なカラム幅が設定されていることは、複数の行におよぶテキストを気持ちよく読み進めるために非常に重要です。『The
          Elements Of Typographic Style
          』によれば、カラム幅を45から75文字の間の値にするのが妥当だとされています。
        </p>
      </div>
    </div>
  </div>
</main>

<div class="-g underground forPc">
  <div class:list={["-g_u", "-g_scale"]}>
    {gridColumnArray.map((num) => <div class="-g_scaleColumn">{num + 1}</div>)}
  </div>
</div>

<div class="-g underground forMobile">
  <div class:list={["-g_u", "-g_scale"]}>
    {
      gridColumnMobileArray.map((num) => (
        <div class="-g_scaleColumn">{num + 1}</div>
      ))
    }
  </div>
</div>
