// Column
@for $i from 1 through $GRID_NUMBER {
  .-c_#{$i} {
    grid-column: 
      span #{$i} / span #{$i};
  }
  @for $j from 1 through ($GRID_NUMBER - $i + 1) {
    .-c_#{$i}-#{$j} {
      grid-column: 
        span #{$i} / span #{$i};
      grid-column-start: #{$j};
      @media (width < $MOBILE_WIDTH) {
        $m_i: $i / 2;
        @if $i == 1 {
          $m_i: 1;
        } @else if $i > 10 {
          $m_i: $i / 2 + 4;
        } @else {
          $m_i: $i / 2 + 2;
        }
        grid-column: 
            span #{$m_i} / span #{$m_i};
        @if $i + $j > 14 {
          $m_j: 2;
          @if $j > 14 {
            $m_j: $j - 14;
          }
          grid-column-start: #{$m_j};
        } @else {
          grid-column-start: #{$j};
        }
      }
    }
  }
}
.-c_full {
  grid-column: 
    span var(--grid-num) / span var(--grid-num);
}

// Width
@for $i from 1 through $GRID_NUMBER {
  .-w_#{$i} {
    width: calc(var(--grid-column-w) * #{$i} + var(--grid-gap) * (#{$i} - 1));
  }
}

// Height
@for $i from 1 through 20 {
  .-h_#{$i} {
    height: calc(var(--grid-column-w) * #{$i} + var(--grid-gap) * (#{$i} - 1));
    @media (width < $MOBILE_WIDTH) {
      $m_i: $i / 2;
      @if $i == 1 {
        $m_i: 1;
      } @else if $i > 10 {
        $m_i: $i / 2 + 4;
      } @else {
        $m_i: $i / 2 + 2;
      }
      height: calc(var(--grid-column-w) * #{$m_i} + var(--grid-gap) * (#{$m_i} - 1));
    }
  }
}

// Margin
@for $i from 1 through 10 {
  .-_mt_#{$i} {
    margin-top: calc(var(--grid-column-w) * #{$i} + var(--grid-gap) * (#{$i}));
  }
}