
.-g_scaleRow {
  height: 100%;
  container-type: inline-size;
  font-size: 0.5cqw;
  grid-column: span var(--grid-num) / span var(--grid-num);
  grid-row: span 1 / span 1;
  box-sizing: border-box;
  background-color: rgba(109, 253, 253, .1);
  &::first-child {
    border-top: none;
  }
}

.-g_scaleColumn {
  height: 100%;
  container-type: inline-size;
  font-size: 0.5cqw;
  grid-column: span 1 / span 1;
  grid-row: span var(--grid-num) / span var(--grid-num);
  box-sizing: border-box;
  background-color: rgba(109, 253, 253, .1);
  &::first-child {
    border-left: none;
  }
}
.-gRow {
  grid-auto-rows: calc(var(--grid-column-w) + 20px);
}