$GRID_NUMBER: 28;

:root {
  --grid-num: 28;
  --grid-wide: calc(var(--grid-num) - 2);
  --grid-full: var(--grid-num);
  --grid-gap: clamp(4px, 0.8vw, 16px);
  --grid-column-w: calc(
    (
      100vw - (
        var(--grid-gap) * (var(--grid-num) - 1)
        )
    ) / var(--grid-num));

  // Reset
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}